
<a class='btn btn-secondary' routerLink="/"> < Back</a>


<div class="card p-4 mt-4">

    <h1>{{ getKeys(userData)  ? "Edit" : "Add"}} User</h1>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="userData.name">
        </div>

        <div class="form-group mt-3">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="name" placeholder="Username" [(ngModel)]="userData.username">
        </div>


        <div class="form-group mt-3">
            <label for="exampleInputEmail1">Email address</label>
            <input 
                type="email" 
                [(ngModel)]="userData.email" 
                class="form-control" 
                id="exampleInputEmail1" 
                aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>


        <div class="form-group mt-3">
            <label for="name">Address</label>
            <input type="text" class="form-control" id="name" placeholder="Address" [(ngModel)]="userData.address">
        </div>

        <div class="form-group mt-3">
            <label for="name">Phone</label>
            <input type="text" class="form-control" id="name" placeholder="Phone" [(ngModel)]="userData.phone">
        </div>

        <div class="form-group mt-3">
            <label for="name">Website</label>
            <input type="text" class="form-control" id="name" placeholder="Website" [(ngModel)]="userData.website">
        </div>
        
       <div class="text-center">
         <button  matTooltip="Save" type="submit" class="btn btn-primary mt-3 w-25"><mat-icon>save</mat-icon></button>
       </div>


</div>


